/* Write your code here. */
* {
  box-sizing: 0px;
}

body {
  margin: 0px;
}

.congrats-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  min-height: 100vh;
  padding: 15px;
}

.heading {
  color: #0f172a;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 34px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 64px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cffafe;
  width: 80%;
  border-radius: 13px;
  padding: 25px;
  margin-top: 13px;
}

@media screen and (min-width: 768px) {
  .card {
    width: 50%;
    padding: 47px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .card {
    width: 40%;
  }
}
@media screen and (min-width: 768px) {
  .card {
    width: 30%;
  }
}

.profile-image {
  width: 150px;
  height: 150px;
}
.card-title {
  font-family: "Roboto";
  color: #1e293b;
  font-size: 22px;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .card-title {
    font-size: 32px;
  }
}

.card-description {
  text-align: center;
  font-family: "Roboto";
  color: #1e293b;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .card-description {
    font-size: 19px;
  }
}

.watch-image {
  margin-top: 25px;
}
